﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Spead._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .style1
        {
            font-size: xx-large;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <span class="style1"><strong>Speed</strong></span><br />
        <br />
        Work-flow aplikace na podporu anotace žákovských korpusů.<br />
        <br />
        Webové rozhranní aplikace je momentálně ve výstavbě.<br />
        <br />
        Služby aplikace jsou dostupné prostřednictvím webových služeb pro registrované 
        uživatele z anotačního programu FEAT.<br />
        <br />
    
    </div>
    </form>
</body>
</html>
